@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    max-width: 390px;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 25px rgba(0, 0, 0, 0.08);
    margin: 20px;
}

.imageDiv {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 247, 0.5);
}

.overlay img {
    width: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageDiv img {
    max-width: 100%;
    display: block;
}

.title {
    padding-top: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.textArea p {
    font-size: 20px;
    margin-top: 20px;
    color: hsl(215, 51%, 70%);
}

.price_time,
.price,
.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price,
.time {
    gap: 8px;
}

.price p {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    font-size: 18px;
}

.price_time img {
    margin-top: 20px;
}

.time p {
    font-size: 17px;
    font-weight: 300;
}

hr {
    height: 0.3px;
    border-width: 0;
    background-color: hsl(215, 32%, 27%);
    margin-top: 25px;
}

.creator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-top: 20px;
}

.dp {
    max-width: 40px;
    overflow: hidden;
    margin-top: 5px;

}

.dp img {
    max-width: 100%;
    border-radius: 50px;
    border: 2px solid white;
}

.creator p {
    font-size: 18px;
    font-weight: 400;
    color: hsl(215, 51%, 70%);
}

.creator span {
    color: white;
    cursor: pointer;
}

.title:hover,
.creator span:hover {
    color: hsl(178, 100%, 50%);
}

.imageDiv:hover .overlay {
    display: block;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(215, 51%, 70%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}